.box
{
    margin: 0 auto;
    padding: 0;
    max-width: 1800px;

}

.header
{
    height: 150px;
    background-color: rgb(204, 175, 139);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notFirstproject
{
    color: #35a6b9;

}

.notFirstproject:hover
{
    color: #e0e7df;
    transition: 0.4s;
}
.mainText
{
    display: flex;
    justify-content: center;
    align-items: start;
}
.link_head
{
    text-decoration: none;
    color: yellow;

}
.link_head:hover
{
    color: rgb(0, 17, 255);
}
.headerLinks
{
    background-color: lightblue;
    width: 100%;

}
.headerList
{
    display: flex;
    justify-content: space-around;
}
.lists
{  
    font-size: 14px;
    color: green
}

.lists:hover
{
 color: rgb(0, 17, 255);

}

.content
{
    width: 100%;
    display: flex;

}

.contentblock1
{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #35a6b9;
}

.contentblock2
{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #53b64a;

}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.bunntos
{
    display: flex;
    justify-content: space-around;
   
}
.bb
{
    height: auto;
    padding: 2%;
    width: 40%;
    background-color:antiquewhite;
    color: #0a5f6e;
    font-size: 20px;
    border-radius: 8px;
    font-weight: bold;
} 

.bb:hover
{
    color: antiquewhite;
    background-color: #0a5f6e;
    transition: 0.4s;

}
.chapter
{
    color: azure;
    margin-right: 2%;
    margin-left: 2%;
}

.h2change
{
    color: blue;

}
.textinfo
{
    margin-right: 2%;
    margin-left: 2%;

}
.forimg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.img
{
    border: 2px solid;
    width: 90%;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px #000000;
    margin: 1%;
    max-height: 90%;
}

.footer
{
    height: 150px;
    background-color: rgb(204, 175, 139);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerText
{
    font-size: 25px;
}
